.column__wrapper {
    display: flex;
    flex-direction: column;
    outline: 2px solid grey;
    margin-left: 1vw;
    min-width: 25vw;
    background: #f0f0f0;
    height: fit-content;

    &:hover {
        cursor: grabbing;
    }

    button {
        cursor: pointer;
    }

    .column__header {
        display: flex;
        align-items: center;
        outline: 2px solid grey;
        padding: 0 5px;

        .column__header-input {
            margin: 0 5px;
        }

        .column__header-add-button {
            margin: 0 5px;
        }
    }

    .column__body {
        flex-direction: column;
        margin: 0 5px;

        .column__task {
            display: flex;
            align-items: center;
            text-align: center;
            outline: 2px solid grey;
            margin: 10px 0;
            padding: 10px;
            background-color: white;

            .column__task-text {
                margin-right: 5px;
            }
        }
    }
}