.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    outline: 2px solid grey;
    margin-left: 1vw;
    max-width: 35vw;
    background: #f0f0f0;

    .column__header {
        display: flex;
        align-items: center;
        outline: 2px solid grey;
        padding: 0 5px;

        button {
            max-height: 40px;
            margin: 0 5px;
        }

        input {
            margin-left: 5px;
        }

        &:hover {
            cursor: grab;
        }
    }

    .column__body {
        flex-direction: column;
        margin: 0 5px;

        .column__ticket {
            display: flex;
            align-items: center;
            text-align: center;
            outline: 2px solid grey;
            margin: 10px 0;
            background-color: white;

            &:hover {
                cursor: grab;
            }

            button {
                margin: 0 5px;  
            }

            p {
                hyphens: auto;
            }
        }
    }
}